body{
margin:0;
overflow:hidden;
font-family:Arial;
background:black;
}

#menu{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
color:white;
background:rgba(0,0,0,0.8);
padding:40px;
border-radius:20px;
}

#menu h1{
font-size:50px;
margin-bottom:10px;
}

#menu button{
padding:15px 30px;
font-size:20px;
border:none;
border-radius:10px;
background:#ffcc00;
cursor:pointer;
}

#menu button:hover{
background:#ffaa00;
}

#clueBox{
position:absolute;
bottom:40px;
left:50%;
transform:translateX(-50%);
background:rgba(0,0,0,0.9);
color:white;
padding:15px 30px;
border-radius:10px;
display:none;
}